.table-container {
  margin: 0 auto;
  padding: $space-medium;
  position: relative;
  width: 70%;

  & > *:not(:last-child) {
      margin-bottom: $space-medium;
  }
}

.actions-container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  & .button {
      margin-right: $space-medium;
  }
}

.row-container {
  display: flex;
  align-items: center;
}
