.table {
    border-collapse:collapse;
    table-layout: fixed;
    text-align: left;
    user-select: none;
    width: 100%;
    
    & > * > tr {
        border-bottom: $border-grey;
    }

    & > thead {
        cursor: pointer;
    }

    & > * > * > * {
        padding: $space-medium;
    }

    &__header{
        display: flex;
    }
}
