.table {
    border-collapse:collapse;
    width: 100%;
    text-align: left;
    
    & > * > tr {
        border-bottom: $border-grey;
    }

    & > * > * > * {
        padding: $space-medium;
    }
}