.table {
    border-collapse:collapse;
    table-layout: fixed;
    text-align: left;
    user-select: none;
    width: 100%;
    
    & > * > tr {
        border-bottom: $border-grey;
    }

    & > * > * > * {
        padding: $space-medium;
    }

    & > * > * > th:hover .button__icon{
        display: inline-block;
    }

    &__header{
        display: flex;

        & > .header-title {
            margin-right: $space-small;
        }
    }
}
