
//Colors
$color-grey: #dadada;

//Borders
$border-grey: 1px solid $color-grey;

//font
$font-small: 1.2rem;
$font-medium: 1.6rem;
$font-large: 1.8rem;


//Spacing
$space-small: .8rem;
$space-medium: 1.2rem;
$space-large: 1.6rem;

//Breakpoints
$desktop-breakpoint: 60rem;
$sidebar-width: 37.5rem;

//Radius
$radius-medium: 5px;
$radius-button: 2rem;